*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_wrapper{
    width: 30%;
    aspect-ratio: 1/1;
    height: auto;
}
.icon{
    height: 100%;
    width: 100%;
    background-image: conic-gradient(black 13%, transparent 13% 22.6%, black 22.6% 100%);
    background-image: conic-gradient(red 13%, transparent 13% 22.6%,blue 22.6% 35%,green ,yellow 70%,red );
    border-radius: 50%;
    position: relative;
}
.icon::after{
    content: '';
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.rectangle{
    height: 15.1%;
    width: 40%;
    background-color: rgb(8, 8, 255);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    z-index: 2;
}
@media(max-width: 750px){
    .icon_wrapper{
        width: 70%;
    }
}